{{ define "content" }}
<h1>
    Edit Store
    <a href="/admin/stores" class="btn btn-outline-primary float-right" ><i class="fa fa-arrow-left"></i>Go Back</a>
</h1>
<hr>

<form action="/admin/update/store/{{ .Store.ID }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Storename</label>
        <input type="text" name="storename" class="form-control" value="{{ .Store.Storename }}">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" value="{{ .Store.Password }}">
    </div>

    <div class="form-group">
        <label>City</label>
        <input type="text" name="city"  class="form-control"  value="{{ .Store.City }}">
    </div>

    <div class="form-group">
        <label>District</label>
        <input type="text" name="district"  class="form-control"  value="{{ .Store.District }}">
    </div>
    <button type="submit" class="btn btn-outline-success w-100 my-3">Update</button>
</form>


{{ end }}